.sign-up-form {
    max-width: 500px;
}

.form-header .stepIndicator.active {
    font-weight: 600;
}

.form-header .stepIndicator.finish {
    font-weight: 600;
    color: #5a67d8;
}

.form-header .stepIndicator::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 9;
    width: 20px;
    height: 20px;
    background-color: #c3dafe;
    border-radius: 50%;
    border: 3px solid #ebf4ff;
}

.form-header .stepIndicator.active::before {
    background-color: #a3bffa;
    border: 3px solid #c3dafe;
}

.form-header .stepIndicator.finish::before {
    background-color: #5a67d8;
    border: 3px solid #c3dafe;
}

.form-header .stepIndicator::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 8px;
    width: 100%;
    height: 3px;
    background-color: #f3f3f3;
}

.form-header .stepIndicator.active::after {
    background-color: #a3bffa;
}

.form-header .stepIndicator.finish::after {
    background-color: #5a67d8;
}

.form-header .stepIndicator:last-child:after {
    display: none;
}

input.invalid {
    border: 2px solid #ffaba5;
}

.step {
    display: none;
}

.nextBtn,
.prevBtn {
    flex: 1;
    /* focus: outline-none; */
    /* py-2;
    px-5;
    rounded-lg;
    shadow-sm;
    text-center;
    text-lg; */
}

.prevBtn {
    border: solid 1px #ccc;
    background: white;
    color: #666;
}

.nextBtn {
    border: none;
    background: #5a67d8;
    color: white;
}

.nextBtn:hover {
    background: #4c51bf;
}